    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>A Warm Welcome!</h1>
            <p>This is one of my Ruby on Rails apps. A user can add any of the items below to their personal cart and
              checkout. It is a work in progress, so you might see some changes in the future!=) You may check out the
              code on Github. </p>

          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <ul class="list-inline text-center">
                      <li>
                        <a href="https://www.linkedin.com/in/natasha-carlyon">
                          <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                      </li>
                      <li>
                          <a href="https://twitter.com/nscarlyon">
                              <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                              </span>
                          </a>
                      </li>
                      <li>
                          <a href="mailto:natasha.carlyon@gmail.com?Subject=Hello">
                              <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                              </span>
                          </a>
                      </li>
                      <li>
                          <a href="https://github.com/nscarlyon">
                              <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                              </span>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
        </header>
        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Latest Features</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

        <%@items.each do |item| %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h2><%= item.title %></h2>
                        <p><%= number_to_currency(item.price.to_f/100) %> | <%= item.inventory %> in stock</p>
                        <p>
                            <%= button_to 'Add to Cart', line_items_path(item_id: item)%><a href="#" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>
          <%end%>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
